<h1><%= @specie.name %></h1>

<p><a href="/species/<%= @specie.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @specie.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<h2>Sightings</h2>

<ul>
  <% @specie.sightings.each do |sighting| %>
    <li>
      Sighting ID: <%= sighting.id %>
    </li>
    <li>
      Longitude: <%= sighting.longitude %>
    </li>
    <li>
      Latitude: <%= sighting.latitude %>
    </li>
  <% end %>
</ul>

<p><a href="/species">Return to species listing</a></p>
